@keyframes spin-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes spin-anti-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}