.contact-form::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(
    90deg,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;

  mask-composite: exclude;
  z-index: -100;
}
.contact-form {
  position: relative;
  padding: 32px;
  border-radius: 10px;
  background: linear-gradient(
    264deg,
    rgba(40, 40, 40, 0.54) 10%,
    rgba(40, 40, 40, 0.13) 99.15%
  );
  backdrop-filter: blur(7px);
}

.contact-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #606060;
  background: #252525;
  z-index: 1;
  outline: none;
}
.contact-form input:hover {
  outline: none;
  border: 1px solid #6c3dd1;
}

.contact-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #606060;
  background: #252525;
  z-index: 1;
  outline: none;
  height: 112px;
}

.contact-form textarea:hover {
  outline: none;
  border: 1px solid #6c3dd1;
}

.contactCard {
  padding: 20px;
  border-radius: 10px;
  background: rgba(40, 40, 40, 0.4);
  backdrop-filter: blur(20px);
  height: 200px;
  width: 324px;
}
.contactCard img {
  width: 44px;
  height: 44px;
  margin-bottom: 16px;
}
.contactCard p {
  font-size: 14px;
  font-weight: 400;
}
.contactCard h3 {
  font-size: 20px;
  font-weight: 600;
}
