.navbar {
  padding: 12px 24px;
  border-radius: 20px;
  border-right: 0.5px solid #717171;
  border-bottom: 0.5px solid #717171;

  background: rgba(28, 28, 28, 0.2);

  backdrop-filter: blur(10px);
}
