.button-gradient {
    border-radius: 10px;
    background: linear-gradient(90deg, #AC5CC9 0%, var(--primary-color) 100%) !important;
}

.button-dark {
    border-radius: 10px;
    background: #282828;
    /* border: 1.4px solid var(--Gradient, var(--primary-color)); */
}