.button-gradient {
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    var(--secondary-dark) 0%,
    var(--primary-dark) 100%
  ) !important;
}

.button-dark {
  border-radius: 10px;
  background: var(--btn-dark);
  /* border: 1.4px solid var(--Gradient, var(--primary-color)); */
}
