.border-image {
  border: 1px solid var(--primary-color);
  background: linear-gradient(264deg,
      rgba(40, 40, 40, 0.77) 0%,
      rgba(40, 40, 40, 0.19) 99.15%);
}

.border-primary {
  border-color: var(--primary-color);
}

.border-gradient {
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 52.6%, rgba(255, 255, 255, 0.00) 100%) 9;
  border-style: solid;
}

.production-flow-border {
  position: absolute;
  /* left: -132.5%; */
  top: 50%;
  min-width: 100%;
  z-index: 15;
  height: 3px;
  background: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
  transform: rotate(90deg);
}

.border-background {

  position: relative;
}

.border-background::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}