@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 0 0% 100%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 300 4% 14%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 323 74% 70%;
    --primary-foreground: 323.04, 73.68%, 70.2%;

    --secondary: 259 100% 78%;
    --secondary-foreground: 259 62% 53%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --btn-dark: #282828;
    --bg-black: #0d0d0d;
    --bg-black-light: #252525;
    --primary-color: #eb7bc0;
    --primary-dark: #eb7bc0cc;
    --secondary-color: #b490ff;
    --secondary-dark: #6c3dd1;
    --ellipse1-color: #eb7bc033;
    --ellipse2-color: #6c3dd14d;
    --white: #fff;
    --muted-color: #9f9fa0;
    --btn-border-grey: #9f9fa0;
    --gray-color: #9f9fa0;
    --contact-form-border: #9f9fa0;
    --gray-rgb-val: 40, 40, 40;
    --white-rgb-val: 255, 255, 255;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

body {
  color: rgb(var(--white-rgb-val));
  position: relative;
  background-image: url("../assets/svg/background.svg");
  background-repeat: repeat-y;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

.vertical-gradient-line {
  width: 1px;
  opacity: 0.2;
  background: linear-gradient(90deg,
      rgba(var(--white-rgb-val), 0) 0%,
      #fff 52.6%,
      rgba(var(--white-rgb-val), 0) 100%);
}

.horizontal-gradient-line {
  height: 1px;
  opacity: 0.2;
  background: linear-gradient(90deg,
      rgba(var(--white-rgb-val), 0) 0%,
      #fff 52.6%,
      rgba(var(--white-rgb-val), 0) 100%);
}

.video-thumbnail-container {
  border-radius: 10px;
  border: 0.5px solid #8d8d8d;
  background: linear-gradient(260deg,
      rgba(var(--gray-rgb-val), 0.77) 0%,
      rgba(var(--gray-rgb-val), 0.19) 100%);
  backdrop-filter: blur(15px);
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.testimonial-card {
  border-radius: 10px;
  background: rgba(var(--gray-rgb-val), 0.4);
  backdrop-filter: blur(20px);
  width: 360px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .testimonial-card {
    width: 286px;
    /* height: 175px; */
    font-size: 12px;
    padding: 12px;
  }
}

.security-compliance-container {
  background: linear-gradient(270deg,
      rgba(var(--gray-rgb-val), 0.4) 0%,
      rgba(10, 10, 10, 0.4) 103.19%);
  backdrop-filter: blur(20px);
}

.production-flow-card {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: 2s;
}

.production-flow-card:before {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  top: 25%;
  z-index: 14;
  left: -13.4%;
}

.production-flow-card[data-color="pink"]::before {
  background-color: var(--secondary-color);
}

.production-flow-card[data-color="purple"]::before {
  background-color: var(--primary-color);
}

.production-flow-card .product-image img {
  width: 100%;
  border-radius: 10px;
  display: none;
  transition: all 2s;
}

.product-image-md {
  display: block !important;
}

.production-flow-card:hover {
  border-radius: 10px;
  border: 1.5px solid var(--Gradient, var(--primary-color));
  background: var(--gradient-20,
      linear-gradient(180deg,
        rgba(108, 61, 209, 0.2) 0%,
        rgba(210, 129, 188, 0.2) 100%));
  box-shadow: 0px 4px 42px 3px rgba(0, 0, 0, 0.7);
}

.production-flow-card:hover .product-image img {
  display: block;
}

.production-flow-card:hover p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.pipeline-flow {
  background: url("../assets/svg/pipeline1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.screenshot-background {
  border-radius: 10px;
  border-color: var(--primary-color);
  border-width: 1px;
  background: linear-gradient(0deg,
      rgba(235, 123, 192, 0.2) 0%,
      rgba(108, 61, 209, 0.2) 100%);
}

.background-gradient {
  background: linear-gradient(0deg,
      rgba(235, 123, 192, 0.2) 0%,
      rgba(108, 61, 209, 0.2) 100%);
}

.border-gradient {
  border-image: linear-gradient(90deg,
      rgba(var(--white-rgb-val), 0) 0%,
      var(--white) 52.6%,
      rgba(var(--white-rgb-val), 0) 100%) 9;
  border-style: solid;
}

select {
  border-radius: 6px;
  border: 1px solid var(--dark-mode-border-default, #4a4a4b);
  padding: 12px;
  align-items: center;
  background-color: #26262600;
  width: 100%;
  outline: none;
  font-size: 14px;
  overflow: hidden;
}

option:checked,
option:hover {
  box-shadow: 0 0 10px 100px var(--primary-color) inset;
}

option {
  padding: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.background-slate {
  background: #252525;
}

.border-slate {
  border: 1px solid #717171;
}

.tabs {
  border: 1.4px solid #D281BC;
  backdrop-filter: blur(12px);
  background: linear-gradient(264.98deg, rgba(108, 61, 209, 0.16) 3.1%, rgba(210, 129, 188, 0.16) 97.16%);
}

.tab {
  background: #282828;
  backdrop-filter: blur(30px);
}