.navBar-container-item {
  transition: border-left 0.1s ease, padding-left 0.1s ease,
    backdrop-filter 0.1s ease;
  border-left: 3px solid;
  border-image-source: linear-gradient(to bottom, #6c3dd1, #d281bc);
  margin-bottom: 32px;
  cursor: pointer;
}

.navBar-container-item:hover {
  backdrop-filter: blur(6px);
  padding-left: 12px;
  border-image-slice: 1;
}
.navBar-container:hover {
  cursor: pointer;
}
.navBar-container {
  position: sticky;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}
